html {
  background-color: darkgrey;
}

.header {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 21px;
  text-decoration: none;
  margin-top: 20px;
}